$background-blue: #2d2f6f;
$gray: #d9d9d9;
$black: #1e1e1e;
$orange: #ed702e;
$turquoise: #a5d0d3;
$white: #ffffff;
$red: #F40076;
$error-symbol-red: #F40076;

$max_width_to_mobile: 650px;
$width_mobile: 100%;
$width_desktop: 50%;
