@import "../../styles/variables";
@import "../../styles/mixins";

.user {
	@include centralized;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-left: 15px;
	display: flex;
	align-items: center;
	justify-content: left;

	&__icon {
		padding-right: 10px;
	}
	&__details {
		display: block;

		&__name {
			@include user-name;
		}
		&__since {
			padding-top: 5px;
			align-items: center;
		}
	}
}
