@import "../../../styles/variables";
@import "../../../styles/mixins";

.story {
	margin-top: 25px;
	margin-bottom: 25px;
	padding-left: 15px;
	@include centralized;
	
	&__user {
		color: $orange;
		font-size: large;
	}
	&__title {
		margin-bottom: 10px;
	}
}
