@import "../../styles/variables";
@import "../../styles/mixins";
.navigation {
	&__image {
		margin-left: 5%;
		@media screen and (max-width: $max_width_to_mobile) {
			visibility: hidden;
			display: none;
		}
	}
	&__bar {
		@include centralized;
		justify-content: left;
		overflow-x: hidden;
		position: sticky;
		z-index: 1;
		display: flex;
		align-items: center;
		top: 0px;
		background-color: $background-blue;
		padding-top: 10px;
		padding-bottom: 20px;
		width: 95%;
		@media screen and (max-width: $max_width_to_mobile) {
			width: 99%;
			top: 0px;
			padding-left: 5px;
		}
	}
	&__title {
		padding-left: 2px;
		padding-top: 14px;
		font-size: larger;
		a {
			color: inherit;
			text-decoration: inherit;
		}
	}
	&__options {
		display: flex;
		width: 90%;
		justify-content: right;
		&__option {
			padding-top: 14px;
			padding-right: 20px;
			@media screen and (max-width: $max_width_to_mobile) {
				padding-right: 10px;
				font-size: small;
			}
			a {
				color: inherit;
				text-decoration: inherit;
			}
			&:hover {
				text-decoration: underline;
			}
			&--active {
				@extend .navigation__options__option;
				font-weight: bolder;
			}
		}
	}
}
