@import "../../styles/variables";
.navigation {
	&__image {
		margin-left: 5%;
		@media screen and (max-width: $max_width_to_mobile) {
			visibility: hidden;
			display: none;
		}
	}
	&__bar {
		display: flex;
		align-items: center;
		top: 0;
		position: sticky;
		background-color: $background-blue;
		z-index: 10;
		padding-top: 10px;
		padding-bottom: 20px;
		width: 98%;
		@media screen and (max-width: $max_width_to_mobile) {
			top: 0;
			width: 100vw;
			padding-left: 5px;
		}
	}

	&__title {
		padding-left: 5px;
		padding-right: 50px;
		padding-top: 14px;
		font-size: larger;
		a {
			color: inherit;
			text-decoration: inherit;
		}
	}
	&__options {
		margin-left: auto;
		display: flex;
		&__option {
			padding-top: 14px;
			padding-right: 20px;
			a {
				color: inherit;
				text-decoration: inherit;
			}
			&:hover {
				text-decoration: underline;
			}
			&--active {
				@extend .navigation__options__option;
				font-weight: bolder;
			}
		}
	}
}
